* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* colors variables */
:root {
    --dark-bg: #1f2937;
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;

    --button-bg: #3882f6;

    --info-dark-text: #1f2937;

    --quote-bg: #e5e7eb;
    --quote-text: #1f2937;
}

/* generics */
html {
    scroll-snap-type: y mandatory;
}

body {
    height: 100%;
}

#first,
#second {
    height: 65vh;
    scroll-snap-align: center;
}

#third,
#fourth {
    height: 50vh;
    scroll-snap-align: center;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

/* header styling */
header {
    scroll-snap-align: start;
    background-color: var(--dark-bg);
    color: var(--main-text);
    height: 10vh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.logo img {
    height: 40px;
    width: 40px;
}

header a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 18px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

/* first section styling */
#first {
    display: flex;
    justify-content: center;
    background-color: var(--dark-bg);
}

#first .container {
    display: flex;
}

.left-column {
    color: var(--secondary-text);
    font-size: 18px;
    width: 50%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main-text {
    color: var(--main-text);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

/** this class is going to be used on all sign up buttons */
.signup {
    background-color: var(--button-bg);
    color: var(--main-text);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 32px;
    border-style: none;
    cursor: pointer;
    margin-top: 16px;
}

.right-column {
    display: flex;
    align-items: center;
    width: 50%;
}

.right-column img {
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 0 8px var(--button-bg);
}

/* second section styling */
#second .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    display: flex;
    align-items: center;
    flex-grow: 2;
    color: var(--info-dark-text);
    font-size: 36px;
    font-weight: 900;
}

.card-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    color: var(--quote-text);
    font-size: 0.7rem;
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
}

.card img {
    border: 0.3rem solid #3882f6;
    border-radius: 24px;
    height: 13vw;
    width: 13vw;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 0.75rem;
}

/** hover transition ONLY APPLIES to elements with class .thumbnail */
.thumbnail {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 50;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/** change the number below to scale to the appropriate size*/
.thumbnail:hover {
    transform: scale(1.25);
    z-index: 99;
}


/* third section styling */
#third {
    background-color: var(--quote-bg);
}

#third .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#third p {
    font-size: 36px;
    font-style: italic;
    color: var(--quote-text);
    margin-bottom: 16px;
}

#third span {
    align-self: flex-end;
    color: var(--info-dark-text);
    font-size: 24px;
    font-weight: bold;
}

/* fourth section styling */
#fourth {
    display: flex;
}

#fourth .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    height: 45%;
    background-color: var(--button-bg);
    border-radius: 1em;
    color: var(--secondary-text);
    font-size: 20px;
    padding: 16px;
}

.call-title {
    color: var(--main-text);
    font-size: 24px;
    font-weight: bold;
}

.left-call {
    flex-shrink: 0;
}

.special {
    border: 3px solid var(--main-text);
}

/* footer styling */
footer {
    background-color: var(--dark-bg);
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    color: var(--secondary-text);
    font-size: 18px;
}